<% if signed_in? %>

<h1> <%= @farm.farm_name %></h1>
    <table class="front" summary="For signed-in users">
      <tr>
        <td class="main">
        </td>
        <td class="sidebar round">
          <%= render 'shared/company_info' %>
        </td>
      </tr>
    </table>
<% else %>
    <% redirect_to signin_path %>
<% end %>