<% if signed_in? %>


    <table class="profile" summary="For signed-in users">
      <tr>

        <td class="main">
            <h1 class="farm">Current Farm:</h1>
            <h3> <%= @farm.farm_name %></h3>


        <% unless @farm.blocks.empty? %>
          <table class="farm" summary="Farm blocks">
            Blocks: <br />
            <%= render 'shared/block_list' %>
          </table>
        <% end %>
      <h1 class="farm">Add a new Block</h1>
      <%= render 'shared/block_form' %>
        </td>
        <td class="sidebar round">
          <%= render 'shared/company_info' %>
        </td>
      </tr>
    </table>
<% else %>
    <% redirect_to signin_path %>
<% end %>