<% if signed_in? %>

<h3> <%= @farm.farm_name %></h3>
    <table class="profile" summary="For signed-in users">
      <tr>
        <td class="main">
        </td>
        <% unless @farm.blocks.empty? %>
          <table class="farm" summary="Farm blocks">
            Blocks:
            <%= render @blocks %>
          </table>
        <% end %>

      <%= render 'shared/block_form' %>

        <td class="sidebar round">
          <%= render 'shared/company_info' %>
        </td>
      </tr>
    </table>
<% else %>
    <% redirect_to signin_path %>
<% end %>