<% if signed_in? %>


    <table class="profile" summary="For signed-in users">
      <tr>

        <td class="main">
            <h1 class="farm">Current Farm:</h1>
            <h3> <%= @farm.farm_name %></h3>


        <% unless @farm.blocks.empty? %>
          <table class="farm" summary="Farm blocks">
            Blocks: <br />
            <%= render 'shared/block_list' %>
          </table>
        <% end %> </td>

          <td class="sidebar round">
            <%= render 'shared/company_info' %>
          </td>

          </tr>
      <tr><td>
      <h3 class="farm">Add a new Block</h3>
      <%= render 'shared/block_form' %>
        </td>
        <td class="main">
          <h3>Add your Boxes</h3> <br />
          box forms will go here <br />
          with starting number and ending number fields
        </td>

      </tr>
    </table>
<% else %>
    <% redirect_to signin_path %>
<% end %>