<% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %>
          prohibited this company from being saved:</h2>
      <p>There were problems with the following fields:</p>
      <ul>
        <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
            <% end %>
      </ul>
    </div>
<% end %>