<% @company.farms.each do |farm_info| %>
    <% @farm_info = farm_info %>
        <% unless @farm_info.id.nil? %>
    <a href="<%= farm_path(@farm_info) %>">
    <%= @farm_info.farm_name %> </a>
<%#= link_to @farm_info.farm_name, farms_path(@farm_info) %> <br />
    <% end %>
<% end %>
