<!DOCTYPE html>
<html>
  
    <h1>Pecan Manager</h1>
    <p>
      This is the home page for the Pecan Manager software alpha development page.
    </p>
    
    <%= link_to "Sign up now!", '#', :class => "signup_button round" %>

</html>
